/* Candetect.css */

.image-upload-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    padding: 10px;
    cursor: pointer;
    width: 500px; /* Adjust the width of the box as needed */
    height: 300px; /* Adjust the height of the box as needed */
  }
  
  .file-input {
    display: none;
  }
  
  .upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    cursor: pointer;
  }
  
  .upload-label span {
    margin-bottom: 5px; 
  }
  
  .image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }
  
.full-size-image{
  height: auto;
  width: 450px;
}
  
  .image-actions {
    padding: 5px;
  }
  
 
  .sbutton {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
    width: 250px;
  }
  
  .sbutton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .sbutton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .sbutton:hover {
    color: #ffffff;
    border: 1px solid #101111;
  }
  
  .sbutton:hover:before {
    top: -35%;
    background-color: #101111;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .sbutton:hover:after {
    top: -45%;
    background-color: #151616;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .button-container{
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .dragandbutton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #c1b9b90d;
    border-radius: 10px;
    padding: 10px;
  }

  .text-area {
    display: flex;
    width: 500px;
    height: 50px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .text-area:focus {
    border-color: #007bff;
  }
  .overallContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .error-message{
    color: red;
    font-size: medium;
  }
  .icon {
    width: 25px; 
    height: 25px; 
    margin-left: 8px;
    border-radius: 50%;
    
  }
  .icon:hover{
    transform: scale(1.1);
    color: #000000;
  }

  .compass{
    height: 30px;
    width: 30px;
  }
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.776);
    border-left-color: transparent;
    border-radius: 50%;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.655);
    border-left-color: transparent;
    width: 25px;
    height: 25px;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.705);
    border-left-color: transparent;
    width: 25px;
    height: 25px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .loader-all{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  .ask-me-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000; }
    .tooltip-container {
      --background: linear-gradient(45deg, #22d3ee, #1f9df5); /* Default background */
      position: relative;
      background: var(--background);
      cursor: pointer;
      transition: all 0.2s;
      font-size: 17px;
      padding: 0.7em 1.8em;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #fff;
      
      display: contents;
     }
     
    .tooltip {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) scale(0.8);
      transform-origin: bottom;
      padding: 0.3em 0.6em;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      background: var(--background);
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .tooltip::before {
      position: absolute;
      content: "";
      height: 0.6em;
      width: 0.6em;
      bottom: -0.2em;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      background: var(--background);
    }
    
    .tooltip-container:hover .tooltip {
      top: -55px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(-50%) scale(1);
      font-size: small;
    }
    .tooltip-container:hover {
      transform: scale(0.9);
    }
   